body
  padding-top 50px

h1
  margin 20px auto
  text-align center

article
  padding 40px 15px
  max-width 1200px
  text-align center
  margin 0 auto

article p
  margin-top 40px

.business-header
  height 400px
  padding-top 50px
  background url('../img/intro-bg.png') center center no-repeat scroll
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  -o-background-size cover

.tagline
  text-shadow 0 0 10px #000
  color #fff

footer
  margin 50px 0
  text-align center
