doctype html
html(lang=en)
  head
    title #{title}

    block styles
      link( rel="stylesheet", href="vendor/bootstrap/css/bootstrap.min.css" )
      link( rel="stylesheet", href="css/main.css" )

  body
    include navbar.jade
    include header.jade
    block content
    include footer.jade
    block scripts
      script( src="vendor/jquery/js/jquery.min.js" )
      script( src="vendor/bootstrap/js/bootstrap.min.js" )
      include ./livereload.jade